<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center fw-bold" href="/">
            <img src="resources/crown_green.png" alt="" width="50" height="50" class="me-2">
            <span class="navbar-title">CROWN HOTEL</span>
        </a>
        <!-- Navbar Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar Items -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/rooms">Rooms</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/facilities" role="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="window.location.href='/facilities'">
                      Facilities
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/restaurantPage">Restaurant</a></li>
                      <li><a class="dropdown-item" href="/barPage">Bar</a></li>
                      <li><a class="dropdown-item" href="/gymPage">Gym</a></li>
                      <li><a class="dropdown-item" href="/conferencePage">Conference Room</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/outAndAbout">Out & About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link book-now" href="/booking">Book Now</a>
                </li>
            </ul>
        </div>
    </div>
</nav>