/* ✅ Global Styles */
* {
    font-family: 'Roboto', serif;
}

/* Index.html page Hero image responsive size control */
#home {
    background: url('/resources/hero/hero_small.webp') center/cover no-repeat;
    
}

@media (min-width: 768px) {
    #home {
        background-image: url('/resources/hero/hero_medium.webp');
    }
}

@media (min-width: 1200px) {
    #home {
        background-image: url('/resources/hero/hero_large.webp');
    }
}

@media (min-width: 1600px) {
    #home {
        background-image: url('/resources/hero/hero_ultrasize.webp');
    }
}



/* ✅ Buttons - disabled temporarily (Allen)
.btn-primary {
    background-color: #A4436B !important;
    border-color: #A4436B !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #8C375D !important;
    border-color: #8C375D !important;
}

.btn-outline-primary {
    color: #A4436B !important;
    border-color: #A4436B !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
    background-color: #A4436B !important;
    color: white !important;
} */


/* ✅ Navbar Brand */
.navbar-brand {
    color: #516054 !important;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-brand:hover {
    color: #253026 !important;
}

/* ✅ Navbar Links */
.navbar-nav .nav-link {
    color: #516054 !important;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-nav .nav-link:hover {
    color: #253026 !important;
}

/* ✅ Dropdown Menu */
.nav-item.dropdown .dropdown-menu {
    display: none;
    opacity: 1;
    text-transform: uppercase;
    font-weight: bold;
    background: white;
    border-radius: 8px;
    padding: 10px 0;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 0.90;
    margin-top: 0;
    transition: opacity 0.3s ease-in-out;
}

/* ✅ Dropdown Arrow -Removed for Facilities */
.navbar .dropdown-toggle::after {
    display: none !important;
}

/* ✅ Dropdown Items - Match Navbar Links */
.nav-item.dropdown .dropdown-menu .dropdown-item {
    color: #516054 !important;
    font-size: 0.93em;
    font-weight: bold;
    text-transform: uppercase;
}


/* ✅ Book Now Button */
.navbar .book-now {
    background-color: #A4436B;
    padding: 0.25rem;    /* smaller height */
    margin-top: 0.25rem; /* aligns it vertically */
    color: white !important;
    border-radius: 10px;
}

.navbar .book-now:hover {
    background-color: #8C375D;
    color: white !important;
}

/* ✅ Service Cards - Hover Effect */
.card {
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-7px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


/* ✅ Section Titles */
#about,
#services h2 {
    color: #516054;
}

#services h3 {
    color: #b7594a;
}
